@page "/authentication/createpassword/{firstName}/{lastName}/{username}/{email}/{securityQuestion}/{securityAnswer}"
@layout NoNav
@inject IDialogService DialogService
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<MudOverlay @bind-Visible="overlayVisible" @onclick="CloseDrawer" DarkBackground>
    <MudProgressCircular Style="height: 80px; width: 80px" Color="Color.Secondary" Value="@progress">
        <ChildContent>
            <MudStack Spacing="0" AlignItems="AlignItems.Center" Justify="Justify.Center">
                <MudText Typo="Typo.subtitle2">@progress %</MudText>
            </MudStack>
        </ChildContent>
    </MudProgressCircular>
    @if (!string.IsNullOrEmpty(overlayMessage))
    {
        <h2>@overlayMessage</h2>
    }
    else
    {
        <h2 style="margin-left: 5px;">Creating your account.</h2>
        <h2 style="margin-left: 5px;">This may take a moment...</h2>
    }
</MudOverlay>


<div class="single-stack">
    <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Style="width: 70%;">
        <h1 style="text-align: center; margin-bottom: 25%; margin-top: 25%;">VerseApp</h1>
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div style="margin-top: -36px; display: flex; align-items: center; justify-content: center; flex-direction: row;">
                <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Error" Title="Favorite" />
                <p style="margin-left: 5px;">@errorMessage</p>
            </div>
        }
        <h3 style="text-align: center; margin-bottom: 10%;">Create a new password:</h3>
        <div class="button">
            <MudTextField @bind-Value="password" Label="Enter password" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick2" AdornmentAriaLabel="Show Password"></MudTextField>
        </div>
        <div class="button custom">
            <MudTextField @bind-Value="confirmPassword" Label="Re-enter password" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" />
        </div>
        @if (!string.IsNullOrEmpty(message))
        {
            <div style="margin-top: -25px;">
                <p>@message</p>
            </div>
        }
        <div style="margin-top: -10px; display: flex; align-items: center; justify-content: center; flex-direction: row;">
            <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Lock" Title="Favorite" />
            <p style="margin-left: 5px;">Only you can see your password.</p>
        </div>
        <div class="button" style="margin-top: -10px; margin-bottom: 5px;">
            <MudButton OnClick="DataPrivacy_Click" Variant="Variant.Text" Color="Color.Secondary" Style="text-decoration: underline;" Size="Size.Small" FullWidth="true" Class="ml-auto">Data Privacy</MudButton>
        </div>
        <div class="button">
            <MudButton OnClick="CreateAccount2_Click" Variant="Variant.Filled" FullWidth="true" Color="Color.Primary" Class="ml-auto">Create Account</MudButton>
        </div>


        <div class="button">
            <MudButton OnClick="Back2_Click" Variant="Variant.Outlined" Color="Color.Secondary" FullWidth="true" Class="ml-auto">Back</MudButton>
        </div>
    </MudStack>
</div>