@page "/authentication/login"
@namespace VerseApp.Pages.Authentication
@layout NoNav
@inject IDialogService DialogService
@inject Blazored.LocalStorage.ILocalStorageService localStorage

    <MudOverlay @bind-Visible="overlayVisible" @onclick="CloseDrawer" DarkBackground>
        <MudProgressLinear Color="Color.Primary" Style="width: 50%; margin-bottom: 15px; margin-top: -35px; margin-right: 5px;" Indeterminate="true" />
        @if (!string.IsNullOrEmpty(overlayMessage))
        {
            <h2>@overlayMessage</h2>
        }
        else
        {
            <h2 style="margin-left: 5px;">Loading...</h2>
        }
</MudOverlay>


<div class="single-stack">
    <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Style="width: 70%;">
        <h1 style="text-align: center; margin-bottom: 25%; margin-top: 25%;">VerseApp</h1>
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div style="margin-top: -36px; display: flex; align-items: center; justify-content: center; flex-direction: row;">
                <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Error" Title="Favorite" />
                <p style="margin-left: 5px;">@errorMessage</p>
            </div>
        }
        <h3 style="text-align: center; margin-bottom: 10%;">Sign in to your account</h3>
        <div class="button">
            <MudTextField @bind-Value="username" Label="Username" Variant="Variant.Outlined"></MudTextField>
        </div>
        <div class="button custom">
            <MudTextField @bind-Value="password" Label="Password" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" />
        </div>
        @if (!string.IsNullOrEmpty(message))
        {
            <div style="margin-top: -25px;">
                <p>@message</p>
            </div>
        }
        <div class="button">
            <MudButton OnClick="Signin_Click" Variant="Variant.Filled" FullWidth="true" Color="Color.Primary" Class="ml-auto">Sign in</MudButton>
		</div>
        <div class="button">
            <MudButton OnClick="CreateAnAccount_Click" Variant="Variant.Outlined" FullWidth="true" Color="Color.Secondary" Class="ml-auto">Create an account</MudButton>
        </div>
        <div class="button">
            <MudButton OnClick="ToggleOverlay" Variant="Variant.Text" Color="Color.Secondary" Style="margin-bottom: -15px;" FullWidth="true" Class="ml-auto">Forgot Username</MudButton>
        </div>
        <div class="button">
            <MudButton OnClick="ToggleOverlay" Variant="Variant.Text" Color="Color.Secondary" FullWidth="true" Class="ml-auto">Forgot Password</MudButton>
        </div>
    </MudStack>
</div>