@page "/mystuff/collection/{_collectionId}"
@namespace VerseApp.Pages.MyStuff

<MudOverlay @bind-Visible="overlayVisible" @onclick="CloseDrawer" DarkBackground>
    <MudProgressCircular Style="height: 80px; width: 80px" Color="Color.Secondary" Value="@progress">
        <ChildContent>
            <MudStack Spacing="0" AlignItems="AlignItems.Center" Justify="Justify.Center">
                <MudText Typo="Typo.subtitle2">@progress %</MudText>
            </MudStack>
        </ChildContent>
    </MudProgressCircular>
    @if (!string.IsNullOrEmpty(overlayMessage))
    {
        <h2>@overlayMessage</h2>
    }
    else
    {
        <h2 style="margin-left: 5px;">Loading...</h2>
    }
</MudOverlay>


<div class="single-stack hide-scrollbar" id="scrollContainer" style="flex-direction: column; justify-content: flex-start; overflow-y:auto;">
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div>
            <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Error" Title="Favorite" />
            <p style="margin-left: 5px;">@errorMessage</p>
        </div>
    }
    <div class="appbar-overlay">
        <div class="button back-btn">
            <MudButton Variant="Variant.Text" Size="Size.Small" IconSize="Size.Medium" StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="Back_Click"></MudButton>
        </div>
        @if (currentCollection != null)
        {
            <h2 style="text-align: center;">@currentCollection.Title</h2>
        }
    </div>
    @if (loading == true)
    {
        <div style="margin-bottom: 40px;"></div>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="25%" Height="25px" Style="margin-top: 0px; border-radius: 6px;" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="20px" Style="margin-top: 15px; border-radius: 6px;" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="20px" Style="margin-top: 15px; border-radius: 6px;" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="20px" Style="margin-top: 15px; border-radius: 6px;" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="25%" Height="25px" Style="margin-top: 25px; border-radius: 6px;" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="20px" Style="margin-top: 15px; border-radius: 6px;" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="20px" Style="margin-top: 15px; border-radius: 6px;" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="20px" Style="margin-top: 15px; border-radius: 6px;" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="25%" Height="25px" Style="margin-top: 25px; border-radius: 6px;" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="20px" Style="margin-top: 15px; border-radius: 6px;" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="20px" Style="margin-top: 15px; border-radius: 6px;" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="20px" Style="margin-top: 15px; border-radius: 6px;" />
    }
    else
    {
        if (!authorized)
        {
            <h3 style="text-align: center; margin-bottom: 10%;">You do not have permission to access this page.</h3>
        }
        else
        {
            @if (reorganizing) // Get dropzone code later
            {
                <div id="top-add" style="width: 100%;">
                    <MudButton Variant="Variant.Outlined" Color="Color.Secondary">Done</MudButton>
                </div>
            }
            else
            {
                <div id="top-add" style="width: 100%;">
                    <MudMenu Icon="@Icons.Material.Filled.MoreVert" Size="Size.Medium" Color="Color.Secondary">
                        <div>
                            <MudMenuItem>Add Passage</MudMenuItem>
                            <MudMenuItem>Edit Collection</MudMenuItem>
                            <MudMenuItem>Reorder</MudMenuItem>
                            <MudMenuItem>Collapse All</MudMenuItem>
                            <MudMenuItem>Expand All</MudMenuItem>
                        </div>
                    </MudMenu>
                    <MudButton OnClick="AddPassage" Variant="Variant.Outlined" Size="Size.Small" Style="height: 25px !important;" Color="Color.Secondary">Reorder</MudButton>
                </div>
            }

            @if (!string.IsNullOrEmpty(message))
            {
                <h3 style="text-align: center; margin-bottom: 10%;">@message</h3>
            }
            else if (currentCollection.Author != data.currentUser.Username && currentCollection.Visibility == 0)
            {
                <h3 style="text-align: center; margin-bottom: 10%;">You do not have permission to access this page.</h3>
            }
            else
            {
                @foreach (var userVerse in currentCollection.UserVerses)
                {
                    <MudPaper Class="pa-4" Style="margin-bottom: 25px;">
                        <div style="cursor: pointer; pointer-events: all;" @onclick="@(() => Expand(userVerse))">
                            <h3 class="h3">@userVerse.Reference</h3>
                            @foreach (var verse in userVerse.Verses) 
                            {
                                <h4 style="margin-top: 10px; margin-bottom: 10px;" class="h4"><span class="h4">@verse.VerseNumber</span> @verse.Text</h4>
                                <MudCollapse Expanded="@userVerse.Expanded">
                                    <div style="display: flex; justify-content: center; flex-direction: column; align-items: start; margin-bottom: 10px;">
                                        <div style="display: flex; justify-content: flex-start; align-items: center;">
                                            <MudIcon Style="    font-size: 1rem !important;
                                                                        width: 0.9em !important;
                                                                        height: 0.9em !important;" Icon="@Icons.Material.Filled.People"></MudIcon><p class="tiny-text" style="margin-left: 5px;">@(verse.UsersSaved) People have this verse</p>
                                        </div>
                                        <div style="display: flex; justify-content: flex-start; align-items: center;">
                                            <MudIcon Style="    font-size: 1rem !important;
                                                                        width: 0.9em !important;
                                                                                            height: 0.9em !important;" Icon="@Icons.Material.Filled.DoneAll"></MudIcon><p class="tiny-text" style="margin-left: 5px;">@(verse.UsersMemorized) People have memorized this verse</p>
                                        </div>
                                    </div>
                                </MudCollapse>
                            }
                            <MudCollapse Expanded="@(userVerse.Expanded)">
                                @if (data.collapsedBefore == false)
                                {
                                    <p>(Click above to collapse)</p>
                                }
                            </MudCollapse>
                        </div>
                        <MudDivider Style="margin-top: 10px; margin-bottom: 10px;" />
                        <MudCollapse Expanded="@userVerse.Expanded">
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <div style="display: flex; flex-direction: column; justify-content: center; align-items: stretch;">
                                    <div style="display: flex; align-items: center; justify-content: flex-start;">
                                        <div>
                                            <MudIcon Style="margin-left: -5px;" Icon="@Icons.Material.Filled.Lightbulb"></MudIcon>
                                        </div>
                                        <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start">
                                            <h3 style="margin-bottom: -6px;">@(userVerse.ProgressPercent.ToString())%</h3>
                                            <p>Memorized</p>
                                        </div>
                                    </div>
                                    <div>
                                        <MudButton Variant="Variant.Outlined" Size="Size.Small" Style="height: 20px !important; margin-top: 4px; width: 100% !important;" Color="Color.Secondary">Practice</MudButton>
                                    </div>
                                </div>
                                <div>
                                    <MudMenu Icon="@Icons.Material.Filled.MoreVert" Size="Size.Medium" Color="Color.Secondary">
                                        <div>
                                            <MudMenuItem >Move to Collection</MudMenuItem>
                                            <MudMenuItem >Create New Collection</MudMenuItem>
                                            <MudMenuItem >Share</MudMenuItem>
                                            <MudMenuItem >Delete</MudMenuItem>
                                        </div>
                                    </MudMenu>
                                </div>
                            </div>
                            <div>
                                <p style="margin-top: 10px;" class="tiny-text">Saved @(userVerse.DateAdded.ToShortDateString())</p>
                            </div>
                        </MudCollapse>
                    </MudPaper>
                }
            }
        }

}
</div>