@page "/mystuff/newcollection"
@namespace VerseApp.Pages.MyStuff

<MudOverlay @bind-Visible="overlayVisible" @onclick="CloseDrawer" DarkBackground>
    <MudProgressCircular Style="height: 80px; width: 80px" Color="Color.Secondary" Value="@progress">
        <ChildContent>
            <MudStack Spacing="0" AlignItems="AlignItems.Center" Justify="Justify.Center">
                <MudText Typo="Typo.subtitle2">@progress %</MudText>
            </MudStack>
        </ChildContent>
    </MudProgressCircular>
    @if (!string.IsNullOrEmpty(overlayMessage))
    {
        <h2>@overlayMessage</h2>
    }
    else
    {
        <h2 style="margin-left: 5px;">Loading...</h2>
    }
</MudOverlay>


<div class="single-stack">
    <div class="top-stack">
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div style="margin-top: -36px; display: flex; align-items: center; justify-content: center; flex-direction: row;">
                <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Error" Title="Favorite" />
                <p style="margin-left: 5px;">@errorMessage</p>
            </div>
        }

        <div class="appbar-overlay">
            <div class="button back-btn">
                <MudButton Variant="Variant.Text" Size="Size.Small" IconSize="Size.Medium" StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="Back_Click"></MudButton>
            </div>
            <h2 style="text-align: center;">New Collection</h2>
        </div>


        <div class="button">
            <MudTextField @bind-Value="collectionName" Style="margin-bottom: 15px;" Label="Collection Name" Required="true" Variant="Variant.Text"></MudTextField>
            <MudSelect @bind-Value="visibility" Label="Visibility" Variant="Variant.Text" Style="width: 100%; margin-bottom: 15px;">
                <MudSelectItem Value="2">Public</MudSelectItem>
                <MudSelectItem Value="1">Friends</MudSelectItem>
                <MudSelectItem Value="0">Private</MudSelectItem>
            </MudSelect>
        </div>
        @if (!string.IsNullOrEmpty(message))
        {
            <div style="margin-top: -25px;">
                <p>@message</p>
            </div>
        }

        <div class="button">
            <MudButton OnClick="@(() => OpenDrawer(Anchor.Bottom))" Variant="Variant.Outlined" FullWidth="true" Color="Color.Secondary" Class="ml-auto">Add Passage</MudButton>
        </div>
        <div class="button" style="margin-top: 10px; margin-bottom: 25px;">
            <MudButton OnClick="CreateCollection_Click" Variant="Variant.Outlined" FullWidth="true" Color="Color.Secondary" Class="ml-auto">Create Collection</MudButton>
        </div>

        @foreach (var userVerse in collectionVerses)
        {
            <div style="display: flex;">
                <div style="display: flex; flex-direction: column; width: 90%;">
                    <h2 style="margin-bottom: 15px;">@userVerse.Reference</h2> 
                        @foreach (var verse in userVerse.Verses)
                        {
                        <div style="display: flex; align-items: center; margin-bottom: 20px;">
                            <div style="display: flex; flex-direction: column;">
                                @if (userVerse.Verses.Count > 1)
                                {
                                    <h3>@verse.Reference</h3>
                                }
                                <p>@verse.Text</p>
                                <div style="display: flex; align-items: center;">
                                    @if (verse.UsersSaved > 0)
                                    {
                                        <div style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.People" Style="    font-size: 1rem !important;
                                                                width: 0.9em !important;
                                                                height: 0.9em !important;"></MudIcon>
                                            <p style="font-size: 8px; margin-left: 5px; margin-right: 15px;">@(verse.UsersSaved) saves</p>
                                        </div>
                                    }
                                    @if (verse.UsersMemorized > 0)
                                    {
                                        <div style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.DoneAll" Style="    font-size: 1rem !important;
                                                                width: 0.9em !important;
                                                                height: 0.9em !important;"></MudIcon>
                                            <p style="font-size: 8px; margin-left: 5px; margin-right: 15px;">@(verse.UsersMemorized) people memorized</p>
                                        </div>
                                    } 
                                    @if (verse.InYourLists > 0)
                                    {
                                        <div style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.Check" Style="    font-size: 1rem !important;
                                                                width: 0.9em !important;
                                                                height: 0.9em !important;"></MudIcon>
                                            <p style="font-size: 8px; margin-left: 5px; margin-right: 15px;">In @(verse.InYourLists) lists</p>
                                        </div>
                                    }
                                    @if (verse.YouMemorized > 0)
                                    {
                                        <div style="display: flex; align-items: center;">
                                            <MudIcon Icon="@Icons.Material.Filled.DoneAll" Style="    font-size: 1rem !important;
                                                                width: 0.9em !important;
                                                                height: 0.9em !important;"></MudIcon>
                                            <p style="font-size: 8px; margin-left: 5px; margin-right: 15px;">Your memorized this verse</p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                <div style="display: flex; flex-direction: column; height: 100%; align-items: center;">
                    <MudButton OnClick="((e) => DeleteFromCollection(userVerse))" Variant="Variant.Text" Class="ml-auto"><MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Delete"></MudIcon></MudButton>
                </div>
            </div>
        }
    </div>


    <MudDrawer Style="" @bind-Open="@open" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary" OverlayAutoClose="@overlayAutoClose">
        <div class="button">
            <MudButton OnClick="@(() => OpenDrawer(Anchor.Bottom))" Variant="Variant.Text" Style="margin-top: -20px;" FullWidth="true" Color="Color.Secondary" Class="ml-auto">
                <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowDown" Size="Size.Medium" OnClick="@(() => OpenDrawer(Anchor.Top))"></MudIcon>
            </MudButton>
        </div>
        <div id="verse-drawer-select" style="display: flex; justify-content: flex-start;">
            <div style="width: 85%; display: flex; justify-content: flex-start;">
            <MudSelect @bind-Value="book"
                       Label="Book"
                       Variant="Variant.Text"
                       Style="width: 45% !important; margin-right: 10px;">
                @foreach (var book in data.booksOfBible)
                {
                    <MudSelectItem Value="@book.ToString()">@book</MudSelectItem>
                }
            </MudSelect>

            <MudSelect T="int" @bind-Value="chapter"
                       Variant="Variant.Text"
                       Label="Chapter"
                       Style="width: 20% !important; margin-right: 10px;">
                @for (int i = 1; i <= numChapters; i++)
                {
                    var localI = i;
                    <MudSelectItem T="int" Value="@localI">@localI</MudSelectItem>
                }
            </MudSelect>

            <MudSelect T="int"
                       @bind-SelectedValues="selectedVerses"
                       Variant="Variant.Text"
                       Label="Verses"
                       IconSize="Size.Small"
                       MultiSelection="true"
                       Style="width: 35% !important; margin-right: 10px;">
                @for (int i = 1; i <= numVerses; i++)
                {
                    var _i = i;
                    <MudSelectItem T="int" Value="@_i">@_i</MudSelectItem>
                }
            </MudSelect>
            </div>
            <div class="button" style="width: 15%;">
                <MudButton OnClick="Apply_Click" Variant="Variant.Outlined" FullWidth="true" Color="Color.Secondary" Class="ml-auto">Apply</MudButton>
            </div>

        </div>
        <div id="drawer-search">
            <div class="button custom" style="margin-top: 10px;">
                <MudTextField Label="Search by reference, keywords, or exact phrase" OnKeyUp="CheckForEnterKey" @bind-Value="userSearch" Variant="Variant.Outlined" />
                <MudButton OnClick="Search_Click" Variant="Variant.Text" FullWidth="true" Color="Color.Secondary" Style="margin-left: 5px; margin-top: 3px; width: 15%;" Class="ml-auto">
                    <MudIcon Icon="@Icons.Material.Filled.Search"></MudIcon>
                </MudButton>
            </div>
        </div>
        <div id="drawer-passage" style="height: 500px; overflow-y: auto;">
            @if (!string.IsNullOrEmpty(drawerMessage))
            {
                <h2 style="margin-bottom: 20px;">@drawerMessage</h2>
            }
            @if (drawerVerse != null)
            {
                <div style="display: flex;">
                    <div style="display: flex; flex-direction: column; width: 100%;">
                        @foreach (var verse in drawerVerse.Verses)
                        {
                            <div style="display: flex; align-items: center; margin-bottom: 20px;">
                                <div style="display: flex; flex-direction: column;">
                                    <h3>@verse.Reference</h3>
                                    <p>@verse.Text</p>
                                    <div style="display: flex; align-items: center;">
                                        @if (verse.UsersSaved > 0)
                                        {
                                            <div style="display: flex; align-items: center;">
                                                <MudIcon Icon="@Icons.Material.Filled.People" Style="    font-size: 1rem !important;
                                                    width: 0.9em !important;
                                                    height: 0.9em !important;"></MudIcon>
                                                <p style="font-size: 8px; margin-left: 5px; margin-right: 15px;">@(verse.UsersSaved) saves</p>
                                            </div>
                                        }
                                        @if (verse.UsersMemorized > 0)
                                        {
                                            <div style="display: flex; align-items: center;">
                                                <MudIcon Icon="@Icons.Material.Filled.DoneAll" Style="    font-size: 1rem !important;
                                                    width: 0.9em !important;
                                                    height: 0.9em !important;"></MudIcon>
                                                <p style="font-size: 8px; margin-left: 5px; margin-right: 15px;">@(verse.UsersMemorized) people memorized</p>
                                            </div>
                                        }
                                        @if (verse.InYourLists > 0)
                                        {
                                            <div style="display: flex; align-items: center;">
                                                <MudIcon Icon="@Icons.Material.Filled.Check" Style="    font-size: 1rem !important;
                                                    width: 0.9em !important;
                                                    height: 0.9em !important;"></MudIcon>
                                                <p style="font-size: 8px; margin-left: 5px; margin-right: 15px;">In @(verse.InYourLists) lists</p>
                                            </div>
                                        }
                                        @if (verse.YouMemorized > 0)
                                        {
                                            <div style="display: flex; align-items: center;">
                                                <MudIcon Icon="@Icons.Material.Filled.DoneAll" Style="    font-size: 1rem !important;
                                                    width: 0.9em !important;
                                                    height: 0.9em !important;"></MudIcon>
                                                <p style="font-size: 8px; margin-left: 5px; margin-right: 15px;">Your memorized this verse</p>
                                            </div>
                                        }
                                    </div>
                                </div>
                                @if (!showAddPassage)
                                {
                                    if (!string.IsNullOrEmpty(verse.Text))
                                    {
                                        <div id="drawer-add">

                                            <MudToggleIconButton Text="Add Verse" Icon="@Icons.Material.Filled.Add" Size="Size.Small" Color="Color.Default" ToggledIcon="@Icons.Material.Filled.Check" ToggledChanged="((e) => PassageToggle_Click(verse))" />
                                            @* <MudButton OnClick="((e) => AddPassage_Click(verse))" Style="width: 100px; height: 20px; font-size: 9px; font-weight: 200;" Variant="Variant.Outlined" Color="Color.Secondary" FullWidth="true">Add Verse</MudButton> *@
                                        </div>
                                    }
                                }
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <h2>Select or search for a passage</h2>
            }
        </div>
        @if (showAddPassage)
        {
            if (addedPassage)
            {
                <div id="drawer-add">
                    <MudButton StartIcon="@Icons.Material.Filled.Done" IconSize="Size.Small" Variant="Variant.Outlined" Color="Color.Secondary" FullWidth="true">Added</MudButton>
                </div>
            }
            else
            {
                <div id="drawer-add">
                    <MudButton OnClick="AddPassageFromReference_Click" Variant="Variant.Outlined" Color="Color.Secondary" FullWidth="true">Add Passage</MudButton>
                </div>
            }
        }
        else
        {
            <div id="drawer-add">
                <MudButton Disabled="true" Variant="Variant.Outlined" Color="Color.Secondary" FullWidth="true">Add Passage</MudButton>
            </div>
        }
    </MudDrawer>

</div>