@page "/authentication/forgot/username"
@namespace VerseApp.Pages.Authentication.Forgot
@layout NoNav
@inject IDialogService DialogService
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<MudOverlay @bind-Visible="overlayVisible" @onclick="CloseDrawer" DarkBackground>
    <MudProgressCircular Style="height: 80px; width: 80px" Color="Color.Secondary" Value="@progress">
        <ChildContent>
            <MudStack Spacing="0" AlignItems="AlignItems.Center" Justify="Justify.Center">
                <MudText Typo="Typo.subtitle2">@progress %</MudText>
            </MudStack>
        </ChildContent>
    </MudProgressCircular>
    @if (!string.IsNullOrEmpty(overlayMessage))
    {
        <h2>@overlayMessage</h2>
    }
    else
    {
        <h2 style="margin-left: 5px;">Loading...</h2>
    }
</MudOverlay>


<div class="single-stack">
    <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Style="width: 70%;">
        <h1 style="text-align: center; margin-bottom: 25%; margin-top: 25%;">VerseApp</h1>
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div style="margin-top: -36px; display: flex; align-items: center; justify-content: center; flex-direction: row;">
                <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Error" Title="Favorite" />
                <p style="margin-left: 5px;">@errorMessage</p>
            </div>
        }
        <h3 style="text-align: center; margin-bottom: 10%;">Enter your name and password to get your username:</h3>
        <div class="button">
            <MudTextField @bind-Value="firstName" Label="First name" Variant="Variant.Outlined"></MudTextField>
        </div>
        <div class="button custom">
            <MudTextField @bind-Value="lastName" Label="Last name" Variant="Variant.Outlined"></MudTextField>
        </div>
        <div class="button" style="margin-top: -30px;">
            <MudTextField @bind-Value="email" Label="Email" Variant="Variant.Outlined"/>
        </div>
        @if (!string.IsNullOrEmpty(message))
        {
            <div style="margin-top: -5px;">
                <p>@message</p>
            </div>
        }
        <div class="button">
            <MudButton OnClick="RecoverUsername_Click" Variant="Variant.Filled" FullWidth="true" Color="Color.Primary" Class="ml-auto">Recover username</MudButton>
        </div>
        <div class="button">
            <MudButton OnClick="BackToLogin_Click" Variant="Variant.Outlined" FullWidth="true" Color="Color.Secondary" Class="ml-auto">Back to Login</MudButton>
        </div>
    </MudStack>
</div>